*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    /*Paleta de cores*/

    --cor-primaria: #b98b57;
    --cor1: #373737;
    --cor2: #adadad;
    --cor3: #686868;
    --cor4: #ededed;

    /*Fontes*/

    --mont: 'Montserrat', sans-serif;
}

/*Formatando o menu*/

header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}
.container{
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#menu{
    display: flex;
}
nav ul{
    display: flex;
}
nav ul, 
nav li{
    list-style: none; 
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--mont);
}
nav a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid black;
}

nav a:hover{
    border-bottom: 3px solid var(--cor-primaria);
    color: var(--cor2);
}

/*Formatando o banner*/

.banner{
    height: calc(100vh - 100px); /*calculo para fazer com que o banner ocupe 100% da tela do usuario*/
    background-image: url('../../media/bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
     /*basicamente o atributo (overflow: hidden;) ignora todo tipo de valor que esteja fora do container definido dentro dele ou seja ele vai ignorar a barra de rolagem lateral que os sliders provocou*/
}

.banner .sliders{
    width: 310vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner .slide_area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 50px;
}
.banner span{
    color: var(--cor-primaria);
    padding-left: 10px;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}
.banner a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--cor-primaria);
    font-size: 13px;
    color: white;
    padding: 10px;
    margin-top: 35px;
    border-radius: 18px;
}
.banner a:hover{
    background-color:#a87e4e;
}
.banner .slide_point{
    width: 100vw;
    height: 20px;
    position: absolute; /*esse atributo faz com que o elemento se sobreponha a outros elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; 
    /*por padrão o .slide_point ficara em baixo do slide sendo assim e nescessario definir uma margem negativa para que esse atributo possa ficar dentro do slide*/
}
.banner .pointer{
    width: 10px;
    height: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; /*esse atributo faz com que o elemento fique similar ao um link ou seja um elemento clicavel*/
}
.banner .active{
    background-color: var(--cor-primaria);
}