*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    /*Paleta de cores*/

    --cor-primaria: #b98b57;
    --cor1: #373737;
    --cor2: #adadad;
    --cor3: #686868;
    --cor4: #ededed;

    /*Fontes*/

    --mont: 'Montserrat', sans-serif;
}

/*Formatando o menu*/

header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}
.container{
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#menu{
    display: flex;
}
nav ul{
    display: flex;
}
nav ul, 
nav li{
    list-style: none; 
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--mont);
}
nav a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid black;
}

nav a:hover{
    border-bottom: 3px solid var(--cor-primaria);
}

/*Formatando o banner*/

