*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden; 
    font-family: var(--mont);
    /*Basicamente esse atributo faz com que todo o conteudo contido dentro do body que causa uma barra de rolagem no eixo "x" seja ignorado*/
}
:root{
    /*Paleta de cores*/

    --cor-primaria: #b98b57;
    --cor1: #373737;
    --cor2: #adadad;
    --cor3: #686868;
    --cor4: #e6dfdf;

    /*Fontes*/

    --mont: 'Montserrat', sans-serif;
}

/*Formatando o menu*/

header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}
.container{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
#menu{
    display: flex;
}
nav ul{
    display: flex;
}
nav ul, 
nav li{
    list-style: none; 
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--mont);
}
nav a{
    height: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 3px solid black;
}

nav a:hover{
    border-bottom: 3px solid var(--cor-primaria);
    color: var(--cor2);
}

/*Formatando o banner*/

.banner{
    height: calc(100vh - 100px); /*calculo para fazer com que o banner ocupe 100% da tela do usuario*/
    background-image: url('../../media/bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
     /*basicamente o atributo (overflow: hidden;) ignora todo tipo de valor que esteja fora do container definido dentro dele ou seja ele vai ignorar a barra de rolagem lateral que os sliders provocou*/
}

.banner .sliders{
    width: 300vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner .slide_area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 50px;
}
.banner span{
    color: var(--cor-primaria);
    padding-left: 10px;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20px;
}
.btn{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--cor-primaria);
    font-size: 13px;
    color: white;
    padding: 10px;
    margin-top: 35px;
    border-radius: 18px;
}
.btn:hover{
    background-color:#a87e4e;
}
.banner .slide_point{
    width: 100vw;
    height: 20px;
    position: absolute; /*esse atributo faz com que o elemento se sobreponha a outros elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; 
    /*por padrão o .slide_point ficara em baixo do slide sendo assim e nescessario definir uma margem negativa para que esse atributo possa ficar dentro do slide*/
}
.banner .pointer{
    width: 10px;
    height: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; /*esse atributo faz com que o elemento fique similar ao um link ou seja um elemento clicavel*/
}
.banner .active{
    background-color: var(--cor-primaria);
}

/*formatando o conteudo da aplicação*/

.default{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
.default .container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.default .sec_title,
.default .sec_desc{
    text-transform: uppercase;
    font-weight: 600;
}
.default .sec_title{
    font-size: 20px;
}
.default .sec_desc{
    margin:8px 0px 30px 0px;
    font-size: 10px;
    color: var(--cor2);
}

.light .sec_title,
.light .sec_body{
    color:black;
}
.darck .sec_title,
.darck .sec_body{
    color: white;
}

.darck{
    background-color: black;
}


/*formatação de areas especificas*/

/*area "about us"*/

.default .sec_body{
    display: flex;
    justify-content: center;
}
.sec_body .sec_cont{
    font-weight: 400;
    text-align: justify;
    line-height: 18px;
    flex: 2;
}
.sec_body .sec_vd{
    flex: 1;
}

.sec_body .sec_cont{
    font-size: 12px;
}

.sec_body .btn{
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
}
.sec_body .sec_vd {
    margin-left: 10px;
}
.sec_body .sec_vd img{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.473);
    border-radius: 3px;
}

/*area "services*/

.sec_body .sec_service{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-left: 1px solid var(--cor3);
}
.sec_body .sec_service:last-child{
    border-right: 1px solid var(--cor3);
}
.sec_body .serv_logo{
    width: 60px;
    height: 60px;
    background-image: url('../img/medalha.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
.sec_body .serv_title{
    max-width: 150px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.sec_body .serv_desc{
    font-size: 8px;
    max-width: 200px;
    line-height: 15px;
    text-align: center;
    color: var(--cor2);
}
.sec_body .lg2{
    background-image: url('../img/estrela.png');
}
.sec_body .lg3{
    background-image: url('../img/relogio.png');
}
.sec_body .lg4{
    background-image: url('../img/balao.png');
}


/*area "porjects"*/

.sec_body .sec_projects{
    display: flex;
    justify-content: center;
    border: 1px solid var(--cor2);
    border-radius: 30px;
    background-color: var(--cor4);
}
.sec_body .sec_projects ul,
.sec_body .sec_projects li{
    list-style: none; 
}
.sec_projects ul{
    display: flex;
}
.sec_projects li{
    padding: 10px 15px;
    border-right: 1px solid var(--cor2);
    border-bottom: 3px solid var(--cor4);
}
.sec_projects li:hover{
    border-bottom: 3px solid var(--cor-primaria);
}
.sec_projects li:first-child{
    margin-left: 20px;
}
.sec_projects li:last-child{
    margin-right: 20px;
    border-right: none;
}
.sec_projects a{
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: var(--cor1);
}
.sec_project_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.sec_project_img .sec_project_photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.sec_project_photos .project_photo{
    display: flex;
    width: 250px;
    flex: 1;
}
.sec_project_photos .photo_area{
    margin:10px;
    width: 230px;
    height: 160px;
}
.photo_area img{
    width: inherit;
    height: inherit;
}
.photo_area .photo_inf{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: inherit;
    height: inherit;
    font-weight: 600;
    color: var(--cor2);
    text-align: center;
}
.photo_inf h5{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}
.photo_inf p{
    font-size: 10px;
}
.photo_area:hover .photo_inf{
    display:flex;
}
.botao{
    display: flex;
    justify-content: center;
}

/*area "team"*/


.bg_team{
    background-image: url('../../media/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
}
.sec_team_area{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}
.sec_team{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.sec_team .sliders{
    width: 300vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.sec_team .slide{
    width: 270px;
    height: 310px;
    min-height: 300px;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background-color: white;
    margin-right: 15px;
}
.sec_team .slide_area{
    margin-top: 5px;
    height: 300px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.sec_team_area .slide_point{
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_team_area .pointer{
    width: 10px;
    height: 10px;
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer; 
}
.sec_team_area .active{
    background-color: var(--cor-primaria);
}
.slide_body{
    max-width: 863.5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.team_avatar{
    width: 150px;
    height: 150px;
}
.team_name{
    margin-top: 20px;
    text-transform: uppercase;
}
.team_func{
    font-size: 10px;
    margin: 5px 0px 20px 0px;
    color: var(--cor2);
}
.team_social{
    display: flex;
}
.team_social .social{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor3);
}
.social:hover,
.team_social .active{
    background-color: var(--cor-primaria);
}

/*area "happy clients"*/

.happy_clients{
    background-image: none;
    height: auto;
}
.happy_clients .slide{
    background-color: white;
}
.happy_clients .client_head{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.happy_clients .container{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.happy_clients .sec_title,
.happy_clients .sec_desc,
.happy_clients .name_client{
    text-transform: uppercase;
    font-weight: 600;
}
.happy_clients .sec_title{
    font-size: 20px;
    margin-top: 30px;
}
.happy_clients .sec_desc{
    margin:8px 0px 30px 0px;
    font-size: 10px;
    color: var(--cor2);
}
.name_client{
    margin-top: 20px;
}
.func_desc{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
}
.name_client,
.func_desc{
    color: black;
}
.happy_clients .slide_area p{
    max-width: 740px;
    font-weight: 400;
    color: var(--cor2);
    text-align: center;
    font-size: 12px;
    margin: 15px 0px 20px 0px;
}

.happy_clients .slide_point{
    margin-top: -25px;
    margin-bottom: 30px;
}